{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <img src="{% static 'images/op.png' %}">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% if request.users.is_staff %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'products' %}">Products</a>
      </li>
      {% else %}
       <li class="nav-item">
        <a class="nav-link" href="{% url 'account' %}">Settings</a>
      </li>
      {% endif %}
    </ul>
  </div>
  <span id="msg-id">Hello !! {{request.user}}</span>
  <div class="btn-group">
    <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
  </div>
  

</nav>